<footer>
    <div class="footer-div">
        <div class="subBox left">
            <div class="univ univName"><p>AJOU UNIVERSITY </p></div>
            <div class="univ univDepartment"><p>아주대학교 사학과</p></div>
            <div class="univ univPosition">
                <p>
                    우)16499 경기도 수원시 영통구 월드컵로 206 <br>
                    COPTRIGHT(C)2013 Department of History. All Right Reserved.
                </p>
            </div>
            <div class="univ univLaw">
                <p>개인정보처리방침</p>
            </div>
        </div>
        <div class="subBox right">
            <div class="circleTel">
                <p>TEL : 031.219.2812</p>
            </div>
            <div class="emailAddress">
                <p>Email: kimyena1123@ajou.ac.kr</p>
            </div>
        </div>
    </div>
</footer>