<header>
    <div class="headerlayer">
        <div class="left-header">
            <div class="ajou-logo">
                <img id='pic' src="../static/img/ajou-logo.png">

                <div class="ajouuniv">
                    <p style="font-size: 23px; font-weight: bold">아주대학교 | 사학과</p>
                    <p>AJOU UNIVERSITY</p>
                </div>
            </div>

            <ul class="navUl">
                <li class="list list1"><a href="#">학과소개</a></li>
                <li class="list list2"><a href="#">교육</a></li>
                <li class="list list3"><a href="#">교수소개</a></li>
                <li class="list list4"><a href="#">학사행정</a></li>
                <li class="list list4"><a href="#">학생활동</a></li>
                <li class="list list5"><a href="#">커뮤니티</a></li>
            </ul>
        </div>

        <div class="right-header">
            <ul>
                <li class="list list6"><a href="#">포탈시스템</a></li>
                <li class="list list7"><a href="#">입학안내</a></li>
            </ul>
        </div>

    </div>

    <div class="hoverNav">
        <div class="hoverNavFlex">

            <div class="blankDiv"></div>
            
            <div class="hoverList">
                <ul class="hideUl">
                    <li class="hideList hideList1">
                        <ul>
                            <li class="miniHideList"><a href="./subgreeting">학과장인사말</a></li>
                            <li class="miniHideList"><a href="./subpage">학과소개</a></li>
                            <li class="miniHideList"><a href="#">연혁</a></li>
                            <li class="miniHideList"><a href="#">졸업후진로</a></li>
                            <li class="miniHideList"><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="hideList hideList2">
                        <ul>
                            <li class="miniHideList"><a href="#">교육목표</a></li>
                            <li class="miniHideList"><a href="#">교과과정</a></li>
                            <li class="miniHideList"><a href="#">교과목안내</a></li>
                        </ul>
                    </li>
                    <li class="hideList hideList3">
                        <ul>
                            <li class="miniHideList"><a href="#">교수진 소개</a></li>
                            <li class="miniHideList"><a href="#">명예교수 소개</a></li>
                        </ul>
                    </li>
                    <li class="hideList hideList4">
                        <ul>
                            <li class="miniHideList"><a href="#">사학과 요람</a></li>
                        </ul>
                    </li>
                    <li class="hideList hideList5">
                        <ul>
                            <li class="miniHideList"><a href="./student">학생회</a></li>
                            <li class="miniHideList"><a href="#">소학회</a></li>
                        </ul>
                    </li>
                    <li class="hideList hideList6">
                        <ul>
                            <li class="miniHideList"><a href="#">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</header>