<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/his_travelSize.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/his_travel.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학생행정</p>
                    <p> > </p>
                    <p> 사학과 요람 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>학사행정</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="./his_data"><li><p>사학과 요람</p></li></a>
                                    <a href="./his_travel"><li class="now"><p class="now" style="color:white;">역사기행반 요록</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>역사기행반 요록</p></div>
                    <div class="hello2">

                        <ul>
                            <li class="data_year">
                                <p class="explain">2022년도 추계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2022_추계답사_요록.pdf" download="2022_추계답사_요록">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2022년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2022_강화도답사_요록.pdf" download="2022_강화도답사_요록">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2022년도 춘계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2022_춘계답사_요록.pdf" download="2022_춘계답사_요록">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2019년도 추계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2019_추계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2019년도 화성답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2019_화성답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li><li class="data_year">
                                <p class="explain">2019년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2019_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2019년도 춘계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2019_춘계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2018년도 추계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2018_추계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="data_year">
                                <p class="explain">2018년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2018_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2017년도 추계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2017_추계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2017년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2017_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2017년도 춘계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2017_춘계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2016년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2016_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2015년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2015_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2015년도 화성답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2015_화성답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2015년도 춘계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2015_춘계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2014년도 강화도 답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2014_강화도답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2014년도 화성답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2014_화성답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2013년도 추계답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2013_추계답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>

                            <li class="data_year">
                                <p class="explain">2013년도 화성답사 요록</p>
                                <div class="downloadLogo">
                                    <a href="../static/download/2013_화성답사_요록.pdf" download="">
                                        <p>다운로드</p>
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html> 
