<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="left-header">
                <div class="ajou-logo">
                    <img id='pic' src="../static/img/ajou-logo.png">

                    <div class="ajouuniv">
                        <p style="font-size: 23px; font-weight: bold">아주대학교</p>
                        <p>AJOU UNIVERSITY</p>
                    </div>
                </div>

                <ul>
                    <li class="list list1"><a href="#">학과소개</a></li>
                    <li class="list list2"><a href="#">교육</a></li>
                    <li class="list list3"><a href="#">교수소개</a></li>
                    <li class="list list4"><a href="#">학사행정</a></li>
                    <li class="list list4"><a href="#">학생활동</a></li>
                    <li class="list list5"><a href="#">커뮤니티</a></li>
                </ul>
            </div>

            <div class="right-header">
                <ul>
                    <li class="list list6"><a href="#">포탈시스템</a></li>
                    <li class="list list7"><a href="#">입학안내</a></li>
                </ul>
            </div>
        </header>

        <div class="content">
            <div class="main-content component01">
                <div class="blueBox"></div>
                <div class="ajou-img">
                    <img src="../static/img/background5.png">
                </div>
                <div class="whiteBox"></div>
            </div> <!--큰 사진-->

            <div class="main-content component02">

                <div class="SecondDiv">
                    <div class="noticeDiv">
                        <div class="blank"></div>
    
                        <div class="showContent">
                            <div class="whiteSpace"></div>
                            <div class="notice"><p>Notice</p></div>
                            <div class="plus"><i class="bi bi-plus-square-fill"></i></div>
                        </div>
                    </div>
    
                    <div class="subDiv">
                        <!-- DB연동 -->
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023학년도 2학기 해외파견연수 모집</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                    </div>
                </div>

            </div> <!--Notice : 성균관대-->
            <div class="main-content component03"></div> <!--인문대학 설명 : 안양대-->
            <div class="main-content component04"></div> <!--News + 학사일정-->

            <div class="main-content component05">
                <div class="systemList">
                    <ul>
                        <li class="system system1"><a href="#">포털시스템</a></li>
                        <li class="system system2"><a href="#">인터넷증명서</a></li>
                        <li class="system system3"><a href="#">서식자료실</a></li>
                        <li class="system system4"><a href="#">도서관</a></li>
                    </ul>
                </div>
                <div class="adminstartion">
                    <div class="sub-title"><p>PUBLIC ADMINISTRATION</p></div>
                    <div class="departmentList">
                        <div class="list list1">
                            <div class="all">
                                <div class="subject"><p>전공소개</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>시대 변화와 학문 발전에 능동적으로 대처할 수 있는 전문 역사연구자를 양성하는 학과인 사학과를 소개합니다.</p></div>
                            </div>
                        </div>
                        <div class="list list2">
                            <div class="all">
                                <div class="subject"><p>교수소개</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>아주대학교 인문대학 사학과 교수님들을 소개합니다.</p></div>
                            </div>
                        </div>
                        <div class="list list3">
                            <div class="all">
                                <div class="subject"><p>교과과정</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>한국사, 중국사, 서양사 등 다양하고 합리적인 교육과정을 소개합니다.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--PUblic adminstartion: 공주대-->
        </div>

        <footer>Footer</footer>

    </div> <!--container 끝-->
</body>
</html>