<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="left-header">
                <div class="ajou-logo">
                    <img id='pic' src="../static/img/b1-1_05.png">

                    <div class="ajouuniv">
                        <p style="font-size: 23px; font-weight: bold">아주대학교</p>
                        <p>AJOU UNIVERSITY</p>
                    </div>
                </div>

                <ul>
                    <li class="list list1"><a href="#">학과소개</a></li>
                    <li class="list list2"><a href="#">교육</a></li>
                    <li class="list list3"><a href="#">교수소개</a></li>
                    <li class="list list4"><a href="#">학사행정</a></li>
                    <li class="list list4"><a href="#">학생활동</a></li>
                    <li class="list list5"><a href="#">커뮤니티</a></li>
                </ul>
            </div>

            <div class="right-header">
                <ul>
                    <li class="list list6"><a href="#">포탈시스템</a></li>
                    <li class="list list7"><a href="#">입학안내</a></li>
                </ul>
            </div>
        </header>

        <div class="content">
            <div class="main-content component01">
                <div class="blueBox"></div>
                <div class="ajou-img">
                    <!-- <img src="../static/img/background2.gif"> -->
                    <img src="../static/img/background.jpeg">
                </div>
                <div class="whiteBox"></div>
            </div> <!--큰 사진-->

            <div class="main-content component02"></div> <!--Notice : 성균관대-->
            <div class="main-content component03"></div> <!--인문대학 설명 : 안양대-->
            <div class="main-content component04"></div> <!--News + 학사일정-->
            <div class="main-content component05">
            </div> <!--PUblic adminstartion: 공주대-->
        </div>

        <footer>Footer</footer>

    </div> <!--container 끝-->
</body>
</html>