<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    
</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>

        <div class="content">
            <div class="main-content component01">
                <div class="blueBox">
                    <!-- <div class="titleBox"></div> -->
                    <div class="univ">
                        <p>Ajou University</p>
                        <p>Departmemt of</p>
                        <p>History</p>
                    </div>

                    <div class="subBox">
                        <div class="site whiteBar">
                            <div class="block whiteBar2"></div>
                            <div class="block whiteBar2"></div>
                            <div class="block"></div>
                        </div>
                        <div class="site whiteBar">
                            <div class="block whiteBar2"></div>
                            <div class="block whiteBar2"></div>
                            <div class="block"></div>
                        </div>
                        <div class="site">
                            <div class="block whiteBar2"></div>
                            <div class="block whiteBar2"></div>
                            <div class="block"></div>
                        </div>
                    </div>
                </div>
                <div class="ajou-img">
                    <!-- <img src="../static/img/background5.png"> -->
                    <!-- <img src="../static/img/ajou.gif"> -->
                    <img src="../static/img/ajounice.jpeg">
                    <!-- <img src="../static/img/ajouuu.png"> -->

                </div>
            </div> <!--큰 사진-->

            <div class="main-content component02">

                <div class="SecondDiv">
                    <div class="noticeDiv">
                        <div class="blank"></div>
    
                        <div class="showContent">
                            <div class="whiteSpace"></div>
                            <div class="notice"><p>Notice</p></div>
                            <div class="plus"><i class="bi bi-plus-square-fill"></i></div>
                        </div>
                    </div>
    
                    <div class="subDiv">
                        <!-- DB연동 -->
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023학년도 2학기 해외파견연수 모집</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                        <div class="noticeContent">
                            <div class="division"><p>분류</p></div>
                            <div class="title"><p>2023년 국립한글박물관 화요 한글문화 강좌 안내(제7회차)</p></div>
                            <div class="createDate">2023-11-20</div>
                            <div class="plusContent"><a href='#'>더보기</a></div>
                        </div>
                    </div>
                </div>

            </div> <!--Notice : 성균관대-->

            <div class="main-content component03">
                <div class="baseDiv">
                    <div class="position imgBox">
                        <!-- <img src="../static/img/flower.png"> -->
                        <img src="../static/img/background2.gif">
                    </div>
                    <div class="position desc">
                        <div class="title">
                            <p>클라시쿠스</p>
                        </div>
                        <div class="info">
                            <p>
                                여러분 모두 클라시쿠스 프로그램을 통해<br> 
                                인류 문화의 유산을 맛보고<br>
                                인간의 쓰임새(用)가 아니라 인간 삶의 묘(妙)를 존중하는<br> 
                                인문 정신을 키우며 미래를 주도적으로 준비해나가면서 <br>
                                위기 시에 당당하게 책임과 의무를<br>
                                감당할 수 있게 되길 기대합니다.</div>
                            </p>

                        <div class="linkBtn">
                            <a href="https://www.ajou.ac.kr/human/classicus/classicus01.do">
                                <button class="main-btn"><p>자세히보기</p></button>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div> <!--클라시쿠스 설명 : 안양대-->
            <div class="main-content component04">
                <div class="informDiv">
                    <div class="inform inform1">
                        <div class="leftNews leftNews1">
                            <p class="title">Schedule</p>
                            <i class="bi bi-plus-square-fill"></i>
                        </div>
                        <div class="leftNews leftNews2"></div>
                        
                        <div class="leftNews leftNews3">
                            <ul>
                                <!-- DB 연동 -->
                                <li class="newsList">
                                    <div class="position left"><p>11.01(수) ~ 11.24(금)</p></div>
                                    <div class="position right"><p>전공(제1전공, 복수·부·연계·마이크로)신청, 취소, 변경</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="position left"><p>11.20(월) ~ 11.24(금)</p></div>
                                    <div class="position right"><p>재학생·복학생 전과신청</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="position left"><p>11.23(목) ~ 11.23(목)</p></div>
                                    <div class="position right"><p>2학기 수업일수 3/4선</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="position left"><p>11.29(수) ~ 12.01(금)</p></div>
                                    <div class="position right"><p>동계계절수업 수강신청</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="position left"><p>12.01(금) ~ 12.26(화)</p></div>
                                    <div class="position right"><p>1학기 재입학 신청</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="position left"><p>12.01(금) ~ 01.02(화)</p></div>
                                    <div class="position right"><p>2학기 수업평가</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="inform inform2">
                        <div class="leftNews leftNews1">
                            <p class="title">Ajou Notice</p>
                            <i class="bi bi-plus-square-fill"></i>
                        </div>
                        <div class="leftNews leftNews2"></div>
                        <div class="leftNews leftNews3">
                            <ul>
                                <!-- DB 연동 -->
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">(재공지) [메이커스페이스] 23.12월 기초교육 교육생 모집안내 (캔들&위빙코스터 기초교육)</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">[일자리+센터] (재공지) 2023 SW개발직무 선배만남의 날 (삼성전자 재직)</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">[일자리+센터] 2023 공정기술/마케팅 직무 선배만남의 날 (삼성전자 재직)</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">[일자리+센터] 외국계 반도체 장비기업 취업전략 특강</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">(재공지) 전시 관람 후 후기 우수 작성자에게 활동비 지원합니다.</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                                <li class="newsList">
                                    <div class="showWriting">
                                        <div class="position left"><p><a href="#">[개교 50주년 기념] 제 14회 아주대-규슈대 공동학술세미나</a></p></div>
                                        <!-- <p>...</p> -->
                                    </div>
                                    <div class="position right"><p>2023-11-17</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!--News + 학사일정-->

            <div class="main-content component05">
                <div class="systemList">
                    <ul>
                        <li class="system system1">
                            <a href="https://portal.ajou.ac.kr/main.do">
                                <img src="../static/img/portal.png">
                                <p>포탈시스템</p>
                            </a>
                        </li>
                        <li class="system system2">
                            <a href="https://www.webminwon.com/#reload">
                                <img src="../static/img/print.png">
                                <p>인터넷증명서</p>
                            </a>
                        </li>
                        <li class="system system3">
                            <a href="#">
                                <img src="../static/img/data.png">
                                <p>서식자료실</p>
                            </a>
                        </li>
                        <li class="system system4">
                            <a href="https://library.ajou.ac.kr/#/">
                                <img src="../static/img/library.png">
                                <p>도서관</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="adminstartion">
                    <div class="sub-title"><p>PUBLIC ADMINISTRATION</p></div>
                    <div class="departmentList">
                        <div class="list list1">
                            <div class="all">
                                <div class="subject"><p>전공소개</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>시대 변화와 학문 발전에 능동적으로 대처할 수 있는 전문 역사연구자를 양성하는 학과인 사학과를 소개합니다.</p></div>
                            </div>
                        </div>
                        <div class="list list2">
                            <div class="all">
                                <div class="subject"><p>교수소개</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>아주대학교 인문대학 사학과 교수님들을 소개합니다.</p></div>
                            </div>
                        </div>
                        <div class="list list3">
                            <div class="all">
                                <div class="subject"><p>교과과정</p></div>
                                <div class="underbar"></div>
                                <div class="desc"><p>한국사, 중국사, 서양사 등 다양하고 합리적인 교육과정을 소개합니다.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--PUblic adminstartion: 공주대-->
        </div>

        <%- include('footer.ejs')%>
        

    </div> <!--container 끝-->

    <script src="../static/js/main.js"></script>
</body>
</html>