<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>박구병</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/pro2Size.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pro2.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학과 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="#"><li class="now"><p class="now" style="color:white;">전임교수</p></li></a>
                                    <a href="#"><li><p>명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>상세정보</p></div>
                    <div class="hello2">
                        <div class="kjspaper">
                            <h1 class="headline">박구병 교수님</h1>
                            <ul style="list-style: inside; padding: 10px; padding-right: 10px;">
                                <li class="bagstrapmember scholar">학력</li>
                                    <ul>
                                        <li style="padding: 10px 10px 5px 10px;">UNIVERSITY OF CALIFORNIA - LOS ANGELES 박사</li>
                                        <li style="padding: 0px 10px 5px 10px;">1994.02 서울대학교 석사</li>
                                        <li style="padding: 0px 10px 10px 10px;">1989.02 서울대학교 학사</li>
                                    </ul>
                            </ul>
                            <ul style="padding-left: 10px;">
                               <li class="paperindex topindex">연구활동(주요논문)</li></br> 
                                    <ol>
                                        <li class="research">[논문] 박구병, 탈식민 운동으로서의 1910년대 멕시코 혁명 , 역사학보 , pp.63 -90 (Mar, 2020)</li>
                                        <li class="research">[논문] 박구병, 라틴아메리카 포퓰리즘의 세 가지 유형과 민주주의의 연관성 , 역사비평 , No.120 , pp.194 -217 (Aug, 2017)</li>
                                        <li class="research">[논문] 박구병, 세계사 교과서의 라틴아메리카 관련 서술에 대한 검토와 대안적 구성의 제안 , 역사교육 , pp.193 -222 (Jun, 2017)</li>
                                        <li class="research">[논문] 박구병, 1970년대 말-1980년대 초 미국의 '기독교 우파'와 과테말라 오순절파의 동반 성장 , 라틴아메리카연구(Asian Journal of Latin American Studies) , Vol.29 , No.1 , pp.247 -269 (Feb, 2016)</li>
                                        <li class="research">[논문] 박구병, "예, 할 수 있습니다!": 미국 서남부 지역의 '세사르 차베스의 날' 제정 , 이베로아메리카 연구 , Vol.26 , No.3 (Dec, 2015)</li></br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 박구병, 16세기 초 에스파냐인들의 아스테카 정복의 역사 다시 쓰기 , 서양사론 , No.153 , pp.203 -236 (Jun, 2022)</li>
                                        <li class="research">[논문] 박구병, 탈식민 운동으로서의 1910년대 멕시코 혁명 , 역사학보 , pp.63 -90 (Mar, 2020)</li>
                                        <li class="research">[논문] 박구병, 이베로아메리카사: '국내 최초' 연구의 외연 확대 , 역사학보 , pp.381 -395 (Sep, 2019)</li>
                                        <li class="research">[논문] 박구병, 과테말라의 '열띤 냉전'과 제노사이드: 1980년대 초 원주민 학살 , 4ㆍ3과 역사 , pp.267 -297 (Dec, 2018)</li>
                                        <li class="research">[논문] 박구병, 과테말라의 내전 종식 이후: 평화 협정 이행의 험로 , 라틴아메리카연구(Asian Journal of Latin American Studies) , Vol.31 , No.4 , pp.19 -44 (Nov, 2018)</li>
                                        <li class="research">[논문] 박구병, 서평: 존 H. 엘리엇/김원중 옮김, <대서양의 두 제국: 영국령 아메리카와 에스파냐령 아메리카 1492-1830>(서울, 그린비, 2017). , 역사학보 , pp.445 -453 (Jun, 2018)</li>
                                        <li class="research">[논문] 박구병, 혁명적 환희의 이면: 멕시코의 유정 수용 조치와 외채 상환 , 서양사연구 , pp.43 -74 (Nov, 2017)</li>
                                        <li class="research">[논문] 박구병, 라틴아메리카 포퓰리즘의 세 가지 유형과 민주주의의 연관성 , 역사비평 , No.120 , pp.194 -217 (Aug, 2017)</li>
                                        <li class="research">[논문] 박구병, 세계사 교과서의 라틴아메리카 관련 서술에 대한 검토와 대안적 구성의 제안 , 역사교육 , pp.193 -222 (Jun, 2017)</li>
                                        <li class="research">[논문] 박구병, 라틴아메리카의 '뜨거운 냉전'과 종속의 심화(1945-1975) , 이베로아메리카 연구 , Vol.27 , No.3 (Dec, 2016)</li>
                                        <li class="research">[논문] 박구병, '멕시코혁명기념건축물'과 혁명 기억의 재건 , 라틴아메리카연구(Asian Journal of Latin American Studies) , Vol.29 , No.4 , pp.145 -165 (Nov, 2016)</li>
                                        <li class="research">[논문] 박구병, 1970년대 말-1980년대 초 미국의 '기독교 우파'와 과테말라 오순절파의 동반 성장 , 라틴아메리카연구(Asian Journal of Latin American Studies) , Vol.29 , No.1 , pp.247 -269 (Feb, 2016)</li>
                                        <li class="research">[논문] 박구병, "예, 할 수 있습니다!": 미국 서남부 지역의 '세사르 차베스의 날' 제정 , 이베로아메리카 연구 , Vol.26 , No.3 (Dec, 2015)</li>
                                        <li class="research">[논문] 박구병, 아르헨티나와 과테말라의 과거사정리 현황과 시사점 , 역사와 책임 , No.7 , pp.114 -130 (Aug, 2014)</li>
                                        <li class="research">[논문] 박구병, 살리나스의 네오포퓰리즘: 멕시코의 신자유주의 전환과 국민연대프로그램(PRONASOL)의 특성 , 민족문화연구 , No.63 , pp.71 -98 (May, 2014)</li>
                                        <li class="research">[논문] 박구병, 1930년대 멕시코의 카르데나스 체제: 포퓰리즘과 민주주의 재고 , 이베로아메리카 연구 , Vol.23 , No.2 , pp.63 -88 (Aug, 2012)</li>
                                        <li class="research">[논문] 박구병, 아메리카노의 독립투쟁과 에스파냐 자유주의의 변화, 1808~1823 , 서양사론 , No.112 , pp.295 -319 (Mar, 2012)</li>
                                        <li class="research">[논문] 박구병, 제국의 초상: 미국의 파나마 운하 건설과 파나마의 은폐 , 국제.지역연구 , Vol.20 , No.4 , pp.109 -135 (Dec, 2011)</li>
                                        <li class="research">[논문] 박구병, 세사르 차베스의 변모: 농장노동자 조직가에서 치카노 운동의 정신적 상징으로 , 라틴아메리카연구(Asian Journal of Latin American Studies) , Vol.24 , No.3 , pp.73 -96 (Aug, 2011)</li>
                                        <li class="research">[논문] 박구병, 진실ㆍ화해위원회 이후: 아르헨티나와 페루의 배ㆍ보상과 추모 정책 , 이베로아메리카 연구 , Vol.21 , No.1 , pp.167 -191 (May, 2010)</li>
                                        <li class="research">[논문] 박구병, 망명 이주민 멘추의 삶에 나타난 세계시민성의 단면 , 사회과교육 , Vol.48 , No.4 , pp.77 -88 (Dec, 2009)</li>
                                        <li class="research">[논문] 박구병, 이베로아메리카사: '국내 최초'의 연구에서 질적 수준의 심화로 , 역사학보 , No.203 , pp.231 -243 (Sep, 2009)</li>
                                        <li class="research">[논문] 박구병, 리고베르타 멘추 논쟁에 나타난 '문화투쟁' , 중남미연구 , Vol.28 , No.1 , pp.213 -244 (Aug, 2009)</li></br>
                                    </ol>
                                <li class="paperindex middleindex">국제학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 박구병, 과테말라의 전쟁과 평화: 평화협정의 쟁점들과 평화 정착의 험로 , 2018 LASAK-EANLAS 국제학술대회 (Jun, 2018)</li>
                                        <li class="research">[학술회의] 박구병, 망명 이주민 멘추의 삶에 나타난 세계시민성의 단면 , 2009 국제학술대회 "Global Citizenship in a Multicultural Society" , pp.254 -284 (Sep, 2009)</li></br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 박구병, 20세기 칠레 정치사(1930년대 초~1990)의 개요 , 한국과 칠레, 60년: 칠레를 바라보는 한국의 시선 (Nov, 2022)</li>
                                        <li class="research">[학술회의] 박구병, 콘도르 체제: 남아메리카 8개국의 합동 대반란전 , 냉전시기 내부안보와 대반란전 , pp.1 -10 (Nov, 2022)</li>
                                        <li class="research">[학술회의] 박구병, 과테말라의 평화 협정 이후 , 동과 서/남과 북, 문명의 교차로 중앙아메리카: 재인식과 전망 , pp.229 -235 (Nov, 2021)</li>
                                        <li class="research">[학술회의] 박구병, 탈식민 운동으로서의 멕시코 혁명 , 2019 역사학회 학술대회 20세기 초 세계사의 굴절과 3.1 운동 (Aug, 2019)</li>
                                        <li class="research">[학술회의] 박구병, 1980년대 이래 반이민 정서의 고조와 캘리포니아 치카노 운동의 변화 , 한국미국사학회 창립 30주년 기념학술대회-횡대서양 세계 속의 미국 , pp.107 -116 (Aug, 2019)</li>
                                        <li class="research">[학술회의] 박구병, 라틴아메리카의 사회경제적 위기와 포퓰리즘의 출현-아르헨티나의 사례 , 한국서양사학회 창립 60주년기념 학술대회 (May, 2017)</li>
                                        <li class="research">[학술회의] 박구병, 세계사 교과서 속의 라틴아메리카 관련 서술 검토와 제안 사항 , '새로운 세계사'와 교과서 서술의 현실 , pp.367 -379 (Nov, 2016)</li>
                                        <li class="research">[학술회의] 박구병, 멕시코시의 혁명 건축물과 혁명의 기억 , 중남미전문가협의회-LASAK 2016 Summer , pp.1 -9 (Jun, 2016)</li>
                                        <li class="research">[학술회의] 박구병, 라틴아메리카의 '뜨거운 냉전' : 게릴라전, 내부 냉전, 국가 폭력의 교착 , 제58회 전국역사학대회 , pp.773 -780 (Oct, 2015)</li>
                                        <li class="research">[학술회의] 박구병, 아메리카노의 독립투쟁과 에스파냐 제국의 쇠퇴 , 2015년 경희대학교 인문학연구원 추계학술대회 '제국과 식민지' , pp.63 -73 (Oct, 2015)</li>
                                        <li class="research">[학술회의] 박구병, 멕시코의 석유 자원 국유화와 외채 상환 , 2015년도 대구사학회 연례 기획 학술발표대회 (Aug, 2015)</li>
                                        <li class="research">[학술회의] 박구병, 20세기 라틴아메리카의 이해 , 한-중남미 효과적 교육개발협력 과제발굴을 위한 워크숍 (Sep, 2014)</li>
                                        <li class="research">[학술회의] 박구병, 혁명과 포퓰리즘: 1930년대 멕시코의 카르데나스 체제 , '민주주의와 포퓰리즘' (May, 2012)</li>
                                        <li class="research">[학술회의] 박구병, 진실과 화해위원회 이후: 아르헨티나와 페루의 과거사정리 후속 조치 , 제4회 전국서양사연합학술대회 , pp.171 -179 (Dec, 2009)</li></br>
                                    </ol>
                                <li class="paperindex middleindex">저서 및 번역</li></br>
                                    <ol>
                                        <li class="research">[저서] 박구병, 김두얼, 김봉중, 김종일 , 남종국, 박상준, 박현도, 윤영휘, 조영헌, 벌거벗은 세계사: 경제편 , pp.332-367 (Apr, 2023)</li>
                                        <li class="research">[저서] 박구병, 국선아, 김병선(코미코), 김윤경, 김혜진, 박수경, 손호철, 송기도, 송병선, 윤지은, 이미정, 장수환, 정승희, 정재민, 정혜주, 최상기, 최한솔(쇼비), 라틴아메리카 문화 '흠뻑' - 라틴아메리카를 즐기다 , pp.316-333 (Jan, 2023)</li>
                                        <li class="research">[저서] 박구병, 강선주, 고유경, 구난희, 김한종, 남한호, 박소영, 윤세병, 정재윤, 홍용진, 사회갈등과 역사교육 , pp.299~335 (Apr, 2022)</li>
                                        <li class="research">[저서] 박구병, 김대보, 김봉중, 김장구, 김헌, 윤영휘, 임승휘, 조관희, 조한욱, 벌거벗은 세계사 - 벗겼다, 세상을 뒤바꾼 인물 , pp.140-177 (Feb, 2022)</li>
                                        <li class="research">[저서] 박구병, 김원중, 김윤경, 이은해, 최해성, 하상섭, 황보영조, 과거는 살아 있다: 라틴아메리카 환경사 , pp.294~329 (Jan, 2022)</li>
                                        <li class="research">[저서] 박구병, 강성우, 김광수, 김병로, 김선, 김준, 김혜경, 류경희, 서보혁, 이원삼, 이찬수, 세계평화개념사: 인류의 평화 그 거대담론의 역사 , pp.321-361 (Jan, 2020)</li>
                                        <li class="research">[저서] 박구병, 권헌익, 김강석, 김학재, 신욱희, 이동기, 크리스토퍼 리, 글로벌 냉전과 동아시아 , pp.159-188 (Jun, 2019)</li>
                                        <li class="research">[저서] 박구병, 김기현, 김원중, 김은중, 림수진, 박수경, 박원복, 박정원, 우석균, 이성훈, 이은아, 임태균, 장재준, 조영현, 디코딩 라틴아메리카-20개의 코드 , pp.113-128 (Jun, 2018)</li>
                                        <li class="research">[저서] 박구병, 유용태, 정용욱, 최갑수, 한인섭, 한정숙, 혁명과 민주주의 , pp.229-273 (Jun, 2018)</li>
                                        <li class="research">[저서] 박구병, 강경희, 곽재성, 김기현, 김명혜, 김윤경, 박병규, 박수경, 박윤주, 박정원, 서지현, 송상기, 우석균, 이상현, 정동희, 정이나, 조영현, 최영균, 최진숙, 라틴아메리카 명저 산책 , pp.107-116 (May, 2018)</li>
                                        <li class="research">[저서] 박구병, 김광수, 김성철, 김태우, 류상영, 박현도, 백지운, 서보혁, 송영훈, 양철준, 오승은, 이동기, 이문영, 이성훈, 이찬수, 임기대, 임홍배, 최재인, 평화를 만든 사람들: 노벨평화상 21 , pp.282-300 (Dec, 2017)</li>
                                        <li class="research">[저서] 박구병, 근대세계체제 IV: 중도적 자유주의의 승리, 1789-1914(The Modern World System IV: Centrist Liberalism Triumphant, 1789-1914) , pp.1-495 (Nov, 2017)</li>
                                        <li class="research">[저서] 박구병, 김용우, 김은중, 서영표, 오승은, 이광일, 장문석, 진태원, 포퓰리즘과 민주주의 , pp.87-116 (Sep, 2017)</li>
                                        <li class="research">[저서] 박구병, 최용찬, 권형진, 기계형, 김경현, 김원중, 남종국, 라영순, 민유기, 박진빈, 염운옥, 이상덕, 주경철, 도시는 기억이다-공공기념물로 본 서양 도시의 역사와 문화 , pp.402-429 (Sep, 2017)</li>
                                        <li class="research">[저서] 박구병, 김정락, 백영경, 송찬섭, 이병창, 이정호, 이종훈, 이필렬, 이혜령, 정준영, 한길석, 영화 속 역사와 현실-다시 보고, 사색하기 , pp.157-184 (Aug, 2017)</li>
                                        <li class="research">[저서] 김봉철, 박구병, 강창부, 김대륜, 김덕수, 김원중, 남종국, 민유기, 박용진, 박원용, 박윤덕, 박흥식, 성백용, 송충기, 신명훈, 양희영, 이경일, 이용우, 이용재, 임승휘, 장문석, 정기문, 최재인, 황대현, 서양사강좌 , pp.359-381 (Feb, 2016)</li>
                                        <li class="research">[저서] 박구병, 신성곤, 원지연, 윤혜영, 이광수, 이한규, 이혜령, 이희수, 조흥국, 세계의 역사 , pp.385-405 (Jan, 2016)</li>
                                        <li class="research">[저서] 박구병, 김기석, 김신일, 김옥라, 민영진, 박종원, 백소영, 유성희, 이덕주, 이만열, 이신건, 이정배, 임재훈, 장윤재, 정시춘, 홍인식, 홍주민, 왜 눈떠야 할까: 신앙을 축제로 이끄는 열여섯 마당 , pp.120-137 (Sep, 2015)</li>
                                        <li class="research">[저서] 박구병, 이광수, 이한규, 이희수, 조흥국, 제3세계의 역사와 문화 , pp.237-296 (Jul, 2015)</li>
                                        <li class="research">[저서] 박구병, 김강석, 김상은, 마상윤, 변웅, 이동기, 조양현, 세계정치 22: 글로벌 냉전의 지역적 특성 , pp.225-263 (Apr, 2015)</li>
                                        <li class="research">[저서] 박구병, 김기현, 김동환, 우석균, 이성형, 이준희, 정이나, 최해성, 황보영조, 현대 라틴아메리카 , pp.34-86 (May, 2014)</li>
                                        <li class="research">[저서] 박구병, 김명혜, 김은중, 김창민, 김항섭, 박병규, 박정원, 우석균, 이성훈, 최해성, 트랜스라틴(TransLatin): 근대성을 넘어 탈식민성으로 , pp.269-287 (Jun, 2013)</li>
                                        <li class="research">[저서] 박구병, Latin America Transformed: Globalization and Modernity , pp.1-717 (May, 2012)</li>
                                        <li class="research">[저서] 박구병, 이성형, 최해성, 황보영조, 아메리카노: 라틴아메리카의 독립투쟁 , pp.167-334 (Dec, 2011)</li>
                                        <li class="research">[저서] 박구병, 김정락, 김태우, 민유기, 박준규, 백영경, 손화철, 여국현, 이용철, 이태주, 이희수, 장일, 현대의 서양문화 , pp.103-124 (Jul, 2011)</li>
                                        <li class="research">[저서] 김봉철, 박구병, 구범진, 김응종, 김현영, 박준성, 박훈, 방현석, 손세호, 송찬섭, 이성숙, 이정호, 이주영, 이혜령, 임기환, 인문학자들이 뽑은 세계사 인물 오디세이 , pp.96-117 (Jun, 2010)</li>
                                        <li class="research">[저서] 박구병, 김성환, 김수현, 송찬섭, 이병창, 이정호, 이종훈, 이필렬, 이혜령, 정준영, 한길석, 영화로 생각하기 , pp.257-277 (Jan, 2010)</li>
                                        <li class="research">[저서] 송충기, 박구병, 김남섭, 김진희, 김학이, 류한수, 박상철, 배영수, 이남희, 이용재, 최승완, 황보영조, 세계화 시대의 서양현대사 (Aug, 2009)</li>
                                        <li class="research">[저서] 최갑수, 김봉철, 박구병, 강성호, 강철구, 김봉중, 김원수, 김차규, 김택현, 송경근, 유재건, 유럽중심주의 세계사를 넘어 세계사들로 (Mar, 2009)</li>
                                    </ol>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>