<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이상국</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/pro3Size.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pro3.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학과 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="#"><li class="now"><p class="now" style="color:white;">전임교수</p></li></a>
                                    <a href="#"><li><p>명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>상세정보</p></div>
                    <div class="hello2">
                        <div class="kjspaper">
                            <h1 class="headline">이상국 교수님</h1>
                            <div class="bagstrap">
                                <h2>학력 및 경력</h2>
                            </div>
                            <ul style="list-style: inside; padding: 10px 20px;">
                                <li class="bagstrapmember">학력</li>
                                    <ul>
                                        <li>2004.08 성균관대학교 일반대학원 박사</li>
                                    </ul>
                                <li class="bagstrapmember">경력</li>
                            </ul>
                            <ul style="padding-left: 10px;">
                               <li class="paperindex">연구활동(주요논문)</li></br> 
                                    <ol>
                                        <li class="research">[논문] 이상국, 박종희, Quality over Quantity: A Lineage-Survival Strategy of Elite Families in Premodern Korea , SOCIAL SCIENCE HISTORY , Vol.43 , No.1 , pp.31 -62 (Mar, 2019)</li>
                                        <li class="research">[논문] 이상국, 이원재, Strategizing Marriage: A Genealogical Analysis of Korean Marriage Networks , JOURNAL OF INTERDISCIPLINARY HISTORY , Vol.1 , pp.1 -19 (Jun, 2017)</li>
                                        <li class="research">[논문] 이상국, 고려~조선초 공?사전의 개념과 王土思想 , 대동문화연구 , pp.499 -524 (Mar, 2014)</li>
                                        <li class="research">[논문] 이상국, 박현준, Marriage, Social Status, and Family Succession in Medieval Korea (Thirteenth-Fifteenth Centuries) , JOURNAL OF FAMILY HISTORY , Vol.33 , No.2 , pp.123 -138 (Feb, 2008)</li>
                                        <li class="research">[논문] 이상국, 고려시대 토지소유관계 재론 , 역사와 현실 , No.62 , pp.197 -221 (Dec, 2006)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex">국제학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 백승민, 박종희, 이상국, Building an Archival Database for Visualizing Historical Networks. A Case for Pre-Modern Korea , Historical Life Course Studies , Vol.12 , pp.42 -57 (Apr, 2022)</li>
                                        <li class="research">[논문] 홍은빈, 유재인, 이상국, Strengthening the inner circle: the marriage networks of elite families in Joseon Korea , HISTORY OF THE FAMILY , Vol.26 , No.2 , pp.313 -335 (Apr, 2021)</li>
                                        <li class="research">[논문] 김명준, 이동기, 이상국, 이근호, 신현정, Inference on historical factions based on multi-layered networkof historical figures , EXPERT SYSTEMS WITH APPLICATIONS , pp.1 -9 (Jul, 2020)</li>
                                        <li class="research">[논문] 이상국, 박종희, Quality over Quantity: A Lineage-Survival Strategy of Elite Families in Premodern Korea , SOCIAL SCIENCE HISTORY , Vol.43 , No.1 , pp.31 -62 (Mar, 2019)</li>
                                        <li class="research">[논문] 하효지, 문성민, 이상국, 최경철, 홍은빈, 이경원, Visual Analysis on the Political Orientation of Historical Characters in the Joseon Dynasty: Focusing on Seo, Geojeong , 디자인학연구(ARCHIVES OF DESIGN RESEARCH) , Vol.32 , No.1 , pp.147 -160 (Feb, 2019)</li>
                                        <li class="research">[논문] 이동기, 이상국, 김명준, 신현정, Historical inference based on semi-supervised learning , EXPERT SYSTEMS WITH APPLICATIONS , Vol.106 , pp.121 -131 (Sep, 2018)</li>
                                        <li class="research">[논문] 이상국, 유재인, The unexpected effect of social status on reproduction: a case study in Joseon Korea from the nineteenth to the twentieth centuries , HISTORY OF THE FAMILY , pp.1 -27 (Jul, 2017)</li>
                                        <li class="research">[논문] 이상국, 이원재, Strategizing Marriage: A Genealogical Analysis of Korean Marriage Networks , JOURNAL OF INTERDISCIPLINARY HISTORY , Vol.1 , pp.1 -19 (Jun, 2017)</li>
                                        <li class="research">[논문] 손병규, 이상국, Rural migration in Korea: a transition to the modern era , HISTORY OF THE FAMILY , Vol.18 , No.4 , pp.422 -433 (Oct, 2013)</li>
                                        <li class="research">[논문] 이상국, 손병규, Long-Term Patterns of Seasonality of Mortality in Korea from the Seventeenth to the Twentieth Century , JOURNAL OF FAMILY HISTORY , Vol.37 , No.3 , pp.270 -283 (Jun, 2012)</li>
                                        <li class="research">[논문] 손병규, 이상국, The effect of social status on women's age at first childbirth in the late seventeenth- to early eighteenth-century Korea , HISTORY OF THE FAMILY , Vol.4 , pp.430 -442 (Dec, 2010)</li>
                                        <li class="research">[논문] 이상국, The Impacts of Birth Order and Social Status on the Genealogy Register in Thirteenth- to Fifteenth- Century Korea , JOURNAL OF FAMILY HISTORY , Vol.35 , No.2 , pp.115 -127 (Apr, 2010)</li>
                                        <li class="research">[논문] 이상국, 박현준, A survey of data sources for studies of family and population in Korean history , HISTORY OF THE FAMILY , Vol.13 , pp.258 -267 (Jun, 2008)</li>
                                        <li class="research">[논문] 이상국, 박현준, Marriage, Social Status, and Family Succession in Medieval Korea (Thirteenth-Fifteenth Centuries) , JOURNAL OF FAMILY HISTORY , Vol.33 , No.2 , pp.123 -138 (Feb, 2008)</li>
                                       </br>
                                    </ol>
                                <li class="paperindex">국내학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 이상국, 박종희, 과거제는 “위대한 균형자(the Great Equalizer)”였는가?－『문과방목』을 통한 조선시대 지배엘리트의 관직 이동 분석－ , 조선시대사학보 , Vol.105 , pp.51 -85 (Jun, 2023)</li>
                                        <li class="research">[논문] 이현주, 문성민, 이상국, 고려 태조~현종 대 왕실의 혼인 네트워크와 지배층의 형성 , 대동문화연구 , pp.187 -220 (Jun, 2023)</li>
                                        <li class="research">[논문] 이상국, 한국사 연구와 디지털역사학 연구방법론-양적분석을 중심으로 , 한국사연구 , No.197 , pp.1 -27 (Jun, 2022)</li>
                                        <li class="research">[논문] 최상일, 백승민, 최지우, 예홍진, 이상국, 조선 초기 관료의 관청이동을 통해 본 주요 통치기구의 위상 - HAVNet 자료를 중심으로 - , 사림 , Vol.75 , pp.123 -145 (Jan, 2021)</li>
                                        <li class="research">[논문] 이상국, 고려시대 생산과 납세의 대상 , 한국중세사연구 , Vol.61 , pp.11 -38 (Jun, 2020)</li>
                                        <li class="research">[논문] 이상국, 유재인, Microstudy on the Relationship between Socioeconomic Status and Lifespan in the 19th to Early 20th Century Korea , 한국인구학 , Vol.40 , No.2 , pp.107 -139 (Jun, 2017)</li>
                                        <li class="research">[논문] 이상국, Conditions and potentials of Korean history research based on `big data' analysis: the beginning of‘digital history’ , 응용통계연구 , Vol.29 , No.6 , pp.1007 -1023 (Oct, 2016)</li>
                                        <li class="research">[논문] 이상국, 고려~조선초 공?사전의 개념과 王土思想 , 대동문화연구 , pp.499 -524 (Mar, 2014)</li>
                                        <li class="research">[논문] 이상국, {安東權氏成化譜}에 나타난 13~15세기 관료 재생산과 혈연관계 , 대동문화연구 , pp.41 -67 (Mar, 2013)</li>
                                        <li class="research">[논문] 이상국, 고려시대 귀족층의 사망률과 기대여명의 추세; 비교사적 관점을 중심으로 , 역사와경계 , No.74 , pp.129 -152 (Mar, 2010)</li>
                                        <li class="research">[논문] 이상국, [안동권씨성화보]에 기록된 이제현 가계 사람들 , 사림 , No.35 , pp.113 -133 (Feb, 2010)</li>
                                        <li class="research">[논문] 이상국, 고려 정종 5년(1039) ‘賤者隨母之法(천자수모지법)’의 제정과 그 의의 , 사림 , No.34 , pp.79 -104 (Oct, 2009)</li>
                                        <li class="research">[논문] 이상국, 고려시대 양반전의 구성과 경작인 , 사림 , No.26 , pp.115 -137 (Dec, 2006)</li>
                                        <li class="research">[논문] 이상국, 고려시대 토지소유관계 재론 , 역사와 현실 , No.62 , pp.197 -221 (Dec, 2006)</li>
                                        <li class="research">[논문] 이상국, 고려시대 戶口파악 양상과 그 의미 ― 戶口資料를 중심으로 , 대동문화연구 , pp.223 -258 (Dec, 2005)</li>
                                        <li class="research">[논문] 이상국, 고려시대 군호의 편제와 본관제 , 군사 , No.56 , pp.103 -127 (Aug, 2005)</li>
                                        <li class="research">[논문] 이상국, 고려시대 양반전 分給(분급)의 一樣相(일양상) , 한국사연구 , No.128 , pp.71 -102 (Mar, 2005)</li>
                                        <li class="research">[논문] 이상국, 고려 초기 役分田(역분전)의 분급형태 , 사림 , No.22 , pp.1 -19 (Dec, 2004)</li>
                                        <li class="research">[논문] 이상국, 고려시대 군역차정과 군인전(高麗時代 軍役差定과 軍人田) , 한국중세사연구 , No.15 , pp.245 -277 (Oct, 2003)</li>
                                        <li class="research">[논문] 이상국, 고려후기 '본주(本主)'의 의미와 입호충역(立戶充役) , 역사와 현실 , No.46 , pp.73 -104 (Dec, 2002)</li>
                                        <li class="research">[논문] 이상국, 고려후기 농장의 경영형태 연구-농장 경작인의 존재양상을 중심으로- , 역사와 현실 , No.36 , pp.243 -278 (Jun, 2000)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex">국제학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 문성민, 이상국, 이현주, Marriage Network Analysis of Political Powerin Pre-modern Goryeo Korea , 2023 American Political Science Association Annual Meeting & Exhibition (Sep, 2023)</li>
                                        <li class="research">[학술회의] 이상국, 유재인, 홍은빈, Marriage as a Network Strategy for Enhancing Social Status in pre-modern Korea , American Sociological Association 2023 Annual Meeting (Aug, 2023)</li>
                                        <li class="research">[학술회의] 문성민, 이상국, 이현주, Visual Analytics for Marriage Network in the Goryeo Dynasty, Korea , Computer Graphics, Visualization, Computer Vision and Image Processing 2023 (Jul, 2023)</li>
                                        <li class="research">[학술회의] 김명준, 신현정, 이상국, Inference on Historical Factions by Parallel and Layered Integration of Human Network , International Joint Conference on AI & Data Science: Mathematics and Applications (Nov, 2019)</li>
                                        <li class="research">[학술회의] 이상국, New Data and Methods for Family History and Historical Demography in Korea , Life at the Extremes 2.0 (Oct, 2019)</li>
                                        <li class="research">[학술회의] 이상국, The Bureaucratic Path for the Family in Pre-Modern Joseon Dynasty , 2019 APSA(American Political Science Association) Annual Meeting (Aug, 2019)</li>
                                        <li class="research">[학술회의] 이상국, 박준용, 홍은빈, Climing the Status Ladder in Pre-modern Joseon Korea , AAS(Association for Asian Studies) Annual Meeting (Mar, 2019)</li>
                                        <li class="research">[학술회의] 홍은빈, 이상국, Making the Perosn in Power as A Lineage-Survival Strategy of the Queen Consort's Families in Joseon Korea , 43rd Annual Meeting of the Social Science History Association (Nov, 2018)</li>
                                        <li class="research">[학술회의] 김명준, 신현정, 이동기, 이상국, 이근호, Inference on Political Factions based on Hierarchical Structure of Genealogy: Three Major Purges in Medieval Joseon Korea , 43rd Annual Meeting of the Social Science History Association (SSHA 2018) (Nov, 2018)</li>
                                        <li class="research">[학술회의] 이상국, The Changces of Success in Joseon Korea: Lineage Strategies for the Civil Service Examination , Association for Asian Studies Annual Conference (Mar, 2018)</li>
                                        <li class="research">[학술회의] 문성민, 이경원, 이상국, 최경철, VISUAL ANALYSIS FOR VOTING RELATIONSHIPS IN JOSEON DYNASTY, KOREA , 10th International Conference on ICT, Society and Human Beings (Jul, 2017)</li>
                                        <li class="research">[학술회의] 박만규, 예홍진, 이상국, A Text Mining Technique Approach to Political Fences in the Historical Figures from the Vast Historical Records of Joseon Korea , 41st Annual Meeting of the Social Science History Association (SSHA2016) (Nov, 2016)</li>
                                        <li class="research">[학술회의] 유재인, 이상국, The Impact of Social Class on Fertility Pattern in the 19th - early 20th century Korea , 41st Annual Meeting of the Social Science History Association (Nov, 2016)</li>
                                        <li class="research">[학술회의] 이동기, 이상국, 신현정, Quantitative Inference on Power Mechanism based on Genealogy Network in Medieval Joseon Korea , 41st Annual Meeting of the Social Science History Association (Nov, 2016)</li>
                                        <li class="research">[학술회의] 유재인, 이상국, An Opportunity Cost Approach to Fertility Pattern in the 19th to Early 20th Century Korea , Linking Past to Present(Population Association of Japan Annual Meeting 2016) (Jun, 2016)</li>
                                        <li class="research">[학술회의] 이상국, 박종희, Family Background and Accession to Public Offices in the Thirteenth-to-Fifteenth Century Korea: Using the Family Records of Andong Gwon-ssi and Munhwa Ryu-ssi , 동아시아 역사인구학의 과제: 사회 불평등의 기원과 연구방법론 (Aug, 2015)</li>
                                        <li class="research">[학술회의] 김건태, 이상국, The Legacy of Status System on Land Ownership to Single-Surname Villages in the First Half of the 20th century Korea , 제 17회 세계 경제사 학회 학술회의 , pp.1 -1 (Aug, 2015)</li>
                                        <li class="research">[학술회의] 이상국, 손병규, The past and future of historical demography in korea , Rewriting the Past: Historical Big Data and a Scholarship of Discovery (Jun, 2014)</li>
                                        <li class="research">[학술회의] 권기중, 이상국, Invented Kinship: The Mechanism of Reproduction of the Social Status in Late Joseon Korea , AAS(Association for Asian Studies) 2014 Annual Conference (Mar, 2014)</li>
                                        <li class="research">[학술회의] 한상우, 이상국, The Influences of Kinship and Marriage Network on Upwardly Mobile the Yangban Elite in Joseon Korea , 38th Annual Meeting of the Social Science History Association (Nov, 2013)</li>
                                        <li class="research">[학술회의] 이상국, 이원재, The Status Homophily or the Heterophily in Marriage Networks in Korean Medieval Period , 38th Annual Meeting of the Social Science History Association (Nov, 2013)</li>
                                        <li class="research">[학술회의] 손병규, 이상국, Adoption, Family Succession, and Demographic Behaviors in pre-industrial Korea , Social Science History Association(SSHA) 37th Annual Meeting (Nov, 2012)</li>
                                        <li class="research">[학술회의] 이상국, 韓國中世 支配層의 權力 再生産 Mechanism - 『安東權氏成化譜』에 나타난 婚姻 Network를 중심으로 , 前近代 東아시아(亞) 歷史上의 士 - 社會階層 및 秩序를 中心으로 - , pp.253267 (May, 2012)</li>
                                        <li class="research">[학술회의] 손병규, 이상국, Disappeared People out of the “Record” on the Korean Modern Road , Associate for Asian Studies 2012 Annual Meeting in Toronto (Mar, 2012)</li>
                                        <li class="research">[학술회의] 이상국, 손병규, Concentration and Diffusion of the Family Members through Adoption in Pre-industrial Korea , Survival Strategies of the Family in East Asia (Jan, 2012)</li>
                                        <li class="research">[학술회의] 이상국, 손병규, Longing for the Cultural Homogeneity: A Change Direction of Women's Age at Childbirth Event in Twentieth Century Korea , the 36th Annual Meeting of the Social Science History Association (Nov, 2011)</li>
                                        <li class="research">[학술회의] 손병규, 이상국, People Moved out on the Road of Korean Modernity , UC PRRP EAHR Crisis and Migration Meeting at UCLA CCPR (Aug, 2011)</li>
                                        <li class="research">[학술회의] 이상국, Between Data and Theory: What to do with Korean Genealogies on Historical Demography , 동아시아 족보의 특성과 연구과제 (Aug, 2011)</li>
                                        <li class="research">[학술회의] 이상국, Tansung and related projects , Population and stratification in East Asia from household registers (Sep, 2010)</li>
                                        <li class="research">[학술회의] 이상국, 손병규, Long Term Pattern of Seasonal Characteristics of the Death in Korea (17-20th centuries) , Associaton for Asian Studies Annual Meeting (Mar, 2010)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex">국내학술발표</li></br>
                                    <ol>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        <li class="research"></li>
                                        </br>
                                    </ol>
                                    <li class="paperindex">저서 및 번역</li>
                                        <ol class="paperindex">
                                            <li class="research"></li>
                                            <li class="research"></li>
                                        </ol>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>