<!-- 한상준 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한상준</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/pro4Size.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pro4.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학과 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="#"><li class="now"><p class="now" style="color:white;">전임교수</p></li></a>
                                    <a href="#"><li><p>명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>상세정보</p></div>
                    <div class="hello2">
                        <div class="kjspaper">
                            <h1 class="headline">한상준 교수님</h1>
                            <ul style="list-style: inside; padding: 10px; padding-right: 10px;">
                                <li class="bagstrapmember scholar">학력</li>
                                    <ul>
                                        <li style="padding: 10px 10px 5px 10px;">2017.06 북경대학교 박사</li>
                                        <li style="padding: 0px 10px 5px 10px;">2005.02 고려대학교 석사</li>
                                        <li style="padding: 0px 10px 10px 10px;">1999.02 아주대학교 학사</li>
                                    </ul>
                            </ul>
                            <ul style="padding-left: 10px;">
                               <li class="paperindex topindex">연구활동(주요논문)</li></br> 
                                    <ol>
                                        <li class="research">[논문] 한상준 , 중국인민지원군 단독철군 문제 재론 , 동양사학연구 , No.142 , pp.287 -317 (Mar, 2018)</li>
                                        <li class="research">[논문] 한상준 , 중공의 북한과 동유럽 사건 개입에 대한 고찰 , 현대중국연구 , Vol.19 , No.4 , pp.83 -110 (Mar, 2018)</li>
                                        </br>
                                    </ol>
                                <li class="paperinde middleindex">국내학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 한상준, 1960년대 초반 북중관계 밀착 연구 , 중국근현대사연구 , pp.95 -120 (Jun, 2022)</li>
                                        <li class="research">[논문] 한상준, 냉전시기 중공의 외교노선과 북중관계의 전개 , 중국근현대사연구 , pp.127 -150 (Sep, 2021)</li>
                                        <li class="research">[논문] 한상준, 중국-북한 동맹관계의 실체와 특수성 , 현대중국연구 , pp.47 -77 (Sep, 2021)</li>
                                        <li class="research">[논문] 한상준, 중국의 북한과 베트남 정책 연구, 1949~1964 , 중국학보 , pp.505 -528 (Aug, 2021)</li>
                                        <li class="research">[논문] 한상준, 중국의 한국전쟁 동의와 참전 결정 - 진영론과 안전론 사이- , 중국근현대사연구 , pp.1 -21 (Sep, 2020)</li>
                                        <li class="research">[논문] 한상준 , '간섭정책'에서 '유화정책'으로-전후 중국의 대북정책, 1953~56 , 중국근현대사연구 , pp.136 -161 (Dec, 2018)</li>
                                        <li class="research">[논문] 한상준 , 중국인민지원군 단독철군 문제 재론 , 동양사학연구 , No.142 , pp.287 -317 (Mar, 2018)</li>
                                        <li class="research">[논문] 한상준 , 중공의 북한과 동유럽 사건 개입에 대한 고찰 , 현대중국연구 , Vol.19 , No.4 , pp.83 -110 (Mar, 2018)</li>
                                        <li class="research">[논문] 한상준 , 안보위협에 대한 공동인식과 북중관계의 ‘탄성’ , 대구사학 , pp.397 -426 (Nov, 2017)</li>
                                        <li class="research">[논문] 한상준 , 韓國戰爭 停戰 以後, 中國人民志願軍 撤軍問題를 둘러싼 北ㆍ中의 異見과 軋轢 , 중국근현대사연구 , pp.123 -146 (Sep, 2017)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국제학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 한상준, 중국인민지원군 최종 철군과 북중관계 , 가톨릭동북아평화연구소 제4회 국제학술대회 (Nov, 2020)</li>
                                        <li class="research">[학술회의] 한상준, 일제 강점기 한국 독립운동에 대한 중국의 인식과 영향 , 제45회 한중인문학회 국제학술대회: 일제 강점기 한중 지역 독립운동의 인문학적 가치와 전망 (Nov, 2019)</li>
                                        <li class="research">[학술회의] 한상준, 정전 이후 중국의 대북정책과 한반도 정전체제 , 동북아지역: 한국전쟁 이래 동맹관계의 변화 한중학자 포럼 (Oct, 2019)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 장두영, 박재연, 한상우, 한상준, 아주대 인문대학 특성화를 위한 인문학 진흥 방안 연구 , 인문대학 인문과학연구소 교수발표회 (Sep, 2022)</li>
                                        <li class="research">[학술회의] 한상준, 중국군 완전철군과 한반도 정전체제 , 6.25전쟁 70주년의 역사적 의미와 철원 (Jul, 2020)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">저서 및 번역</li></br>
                                    <ol>
                                        <li class="research">[저서] 박장배 , 한상준, 구소영 , 박선영 , 심혁주 , 정면 , 정재훈 , 중국의 변경 연구 3 -신장 개발과 역사해석 (Dec, 2019)</li>
                                        <li class="research">[저서] 임상선 , 한상준, 권은주 , 김선숙 , 김영수 , 박인호 , 우성민 , 최보영 , 한국고대사 계승 인식2 : 근현대 편 (Dec, 2019)</li>
                                    </ol>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>