<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한상우</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/pro5Size.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pro5.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학과 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="#"><li class="now"><p class="now" style="color:white;">전임교수</p></li></a>
                                    <a href="#"><li><p>명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>상세정보</p></div>
                    <div class="hello2">
                        <div class="kjspaper">
                            <h1 class="headline">한상우 교수님</h1>
                            <ul style="list-style: inside; padding: 10px; padding-right: 10px;">
                                <li class="bagstrapmember scholar">학력</li>
                                    <ul>
                                        <li style="padding: 10px 10px 5px 10px;">2006.02 성균관대학교 학사</li>
                                        <li style="padding: 0px 10px 5px 10px;">2009.02 성균관대학교 석사</li>
                                        <li style="padding: 0px 10px 10px 10px">2015.02 성균관대학교 박사</li>
                                    </ul>
                                    <li class="bagstrapmember career">경력</li>
                                    <ul>
                                        <li style="padding: 10px 10px 0px 10px;">성균관대학교 경상도 대구부 호적대장 전산화팀 전임연구원 (한국학진흥사업단 기초자료사업)</li>
                                        <li style="padding: 5px 10px 5px 10px;">Radboud University Nijmegen (네덜란드) 방문연구원 (2018 성균관대 박사후 국외연수)</li>
                                        <li style="padding: 0px 10px 0px 10px;">Autonomous University of Barcelona (스페인) 박사후 연구원 (ERC Horizon 2020 project)</li></br>
                                    </ul>
                            </ul>
                            <ul style="padding-left: 10px;">
                               <li class="paperindex topindex">연구활동(주요논문)</li></br> 
                                    <ol>
                                        <li class="research">[논문] 한상우, 정치적 선택이 불러온 친족의 분화 - 양주조씨의 선택과 분화를 중심으로 , 조선시대사학보 , Vol.103 , pp.147 -174 (Dec, 2022)</li>
                                        <li class="research">[논문] 한상우, The marriage market for immigrant families in Chosŏn Korea after the Imjin War - women, integration, and cultural capital , INTERNATIONAL JOURNAL OF ASIAN STUDIES , No.2 , pp.247 -269 (Jul, 2021)</li>
                                        <li class="research">[논문] 한상우, The Historical Background of the Popularity of Genealogies in Korea , JOURNAL OF FAMILY HISTORY , Vol.45 , No.4 , pp.498 -516 (Oct, 2020)</li>
                                        <li class="research">[논문] 한상우, 임진왜란 被擄人과 逃還人들의 흔적을 찾아서 ? 17세기 초 호적으로부터 , 대동문화연구 , No.110 , pp.173 -200 (Jun, 2020)</li>
                                        <li class="research">[논문] 한상우, 형만 한 아우 없다? - 조선후기 출생순위와 과거 급제의 관련성 , 한국사연구 , No.188 , pp.331 -362 (Mar, 2020)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국제학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 한상우, The marriage market for immigrant families in Chosŏn Korea after the Imjin War - women, integration, and cultural capital , INTERNATIONAL JOURNAL OF ASIAN STUDIES , No.2 , pp.247 -269 (Jul, 2021)</li>
                                        <li class="research">[논문] 한상우, The Historical Background of the Popularity of Genealogies in Korea , JOURNAL OF FAMILY HISTORY , Vol.45 , No.4 , pp.498 -516 (Oct, 2020)</li>
                                        <li class="research">[논문] 이동규, 한상우, Families in the Household Registers of Seventeenth-Century Korea: Capital, Urban and Rural Areas , European Journal of Korean Studies , Vol.20 , No.1 , pp.1 -34 (Oct, 2020)</li>
                                        <li class="research">[논문] 박희진, 한상우, 계봉오, Changes in child mortality in Korea during the mid-twentieth century: gender, birth order and sibling composition , HISTORY OF THE FAMILY , Vol.23 , No.4 , pp.594 -622 (Jul, 2018)</li>
                                       </br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 파란학기 팀 MU:SÉUM(뮤세움), 한상우, 대학-지역 커뮤니티 기억저장소, 대학가 상인들의 구술생애사 : A대학 인근 상인들의 인터뷰를 중심으로 , 구술사연구 , Vol.14 , No.1 , pp.123 -162 (Mar, 2023)</li>
                                        <li class="research">[논문] 한상우, 정치적 선택이 불러온 친족의 분화 - 양주조씨의 선택과 분화를 중심으로 , 조선시대사학보 , Vol.103 , pp.147 -174 (Dec, 2022)</li>
                                        <li class="research">[논문] 한상우, 邑誌와 榜目, 戶籍을 통해 본 대구 출신 급제자들 , 대구사학 , pp.137 -174 (Aug, 2021)</li>
                                        <li class="research">[논문] 한상우, 임진왜란 被擄人과 逃還人들의 흔적을 찾아서 ? 17세기 초 호적으로부터 , 대동문화연구 , No.110 , pp.173 -200 (Jun, 2020)</li>
                                        <li class="research">[논문] 한상우, 형만 한 아우 없다? - 조선후기 출생순위와 과거 급제의 관련성 , 한국사연구 , No.188 , pp.331 -362 (Mar, 2020)</li>
                                        <li class="research">[논문] 한상우, 족보의 계보를 통해 본 친족 결집의 이상과 현실 - 합천이씨 족보를 중심으로 , 사림 , No.65 , pp.29 -56 (Jul, 2018)</li>
                                        <li class="research">[논문] 한상우, 호적으로 본 단성 합천이씨들의 공존과 배제 양상 , 역사와현실 , No.105 , pp.283 -314 (Sep, 2017)</li>
                                        <li class="research">[논문] 한상우, 『繼後謄錄』과 족보의 비교를 통해 본 조선후기 입후의 특징 , 고문서연구 , No.51 , pp.189 -214 (Aug, 2017)</li>
                                        <li class="research">[논문] 한상우, 죽은 자의 공간을 통해 본 전통과 근대 - 陜川李氏族譜의 墓地 기록을 중심으로 , 대동문화연구 , No.96 , pp.77 -109 (Dec, 2016)</li>
                                        <li class="research">[논문] 한상우, 조선후기 양반층의 立後 양상과 전략적 繼子 선택 - 安東金氏 文正公派, 延安李氏 館洞派, 眞城李氏 退溪후손들을 중심으로 , 조선시대사학보 , No.73 , pp.287 -323 (Jun, 2015)</li>
                                        <li class="research">[논문] 한상우, 조선후기 退溪후손들의 陶山書院 院長職 취임양상과 친족집단의 역할 , 대동문화연구 , No.87 , pp.123 -155 (Sep, 2014)</li>
                                        <li class="research">[논문] 한상우, 조선후기 鄕戰을 통해 본 양반층의 親族, 婚姻 - 안동의 屛虎是非를 중심으로 , 대동문화연구 , No.81 , pp.69 -99 (Dec, 2013)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국제학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 한상우, 손병규, Demographic Impacts of the East Asian War in 1592-1598 , 47th Annual Meeting of the Social Science History Association (Nov, 2021)</li>
                                        <li class="research">[학술회의] 한상우, Demographic impacts of the Imjin War , Association for Korean Studies in Europe 30th Conference (Oct, 2021)</li>
                                        <li class="research">[학술회의] 이동규, 한상우, 권기중, Who shaved his head and went into the mountains?: Within the framework of the household register and family system in the late Chŏson, Korea , European Social Science History Conference 2021 (Mar, 2021)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 한상우, 이병호, 임진왜란의 인구학적 여파: 호적 속 부부간 연령차를 중심으로 , 조선시대사 연구와 디지털역사학 (아주대 인문과학연구소-조선시대사학회 공동학술대회) (Jun, 2023)</li>
                                        <li class="research">[학술회의] 한상우, 디지털 시대, 한국사와 역사 교육 , 한국학 학술대회- 디지털 시대 한국학의 현재와 미래 (May, 2023)</li>
                                        <li class="research">[학술회의] 한상우, 입양, 조선시대 양반의 아들 교환 , 2022 전통생활문화 집대성 및 콘텐츠 개발 학술대회 (Nov, 2022)</li>
                                        <li class="research">[학술회의] 장두영, 박재연, 한상우, 한상준, 아주대 인문대학 특성화를 위한 인문학 진흥 방안 연구 , 인문대학 인문과학연구소 교수발표회 (Sep, 2022)</li>
                                        <li class="research">[학술회의] 한상우, 양주조씨의 가계와 활동 , 2022년 경기도박물관·조선시대사학회 공동학술회의 (Sep, 2022)</li>
                                        <li class="research">[학술회의] 한상우, 조선후기 대구지역 급제자 가계의 복원 , 2022 한국인구학회 전기학술대회 (Jun, 2022)</li>
                                        </br>
                                    </ol>
                                    <li class="paperindex middleindex">저서 및 번역</li></br>
                                        <ol>
                                            
                                        </ol>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>