<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김봉철</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/pro7Size.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pro7.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>학과 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="./professorInro"><li><p style="border-top: 0.5px solid rgba(0, 71, 171);">전임교수</p></li></a>
                                    <a href="./pro7"><li class="now"><p class="now" style="color: white;">명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>상세정보</p></div>
                    <div class="hello2">
                        <div class="kjspaper">
                            <h1 class="headline">김봉철 교수님</h1>
                            <ul style="padding-left: 10px;">
                               <li class="paperindex topindex">연구활동(주요논문)</li></br> 
                                    <ol>
                                        <li class="research">[논문] 김봉철, 고대 그리스와 오리엔트의 국제적 의사소통: 통역의 활용 실태 , 서양고대사연구 , Vol.1 , pp.41 -86 (Apr, 2020)</li>
                                        <li class="research">[논문] 김봉철, 두 시공간을 잇는 작업, 헤로도토스 <역사>의 번역. , 서양고대사연구 , Vol.1 , No.1 , pp.177 -214 (Aug, 2018)</li>
                                        <li class="research">[논문] 김봉철, 헤로도토스의 <역사>에 나타난 다문화 인식 , 서양사론 , Vol.1 , No.1 , pp.133 -166 (Dec, 2017)</li>
                                        <li class="research">[논문] 김봉철, 헤로도토스의 역사서술과 그리스 신화 , 서양고대사연구 , Vol.1 , pp.35 -70 (Sep, 2012)</li>
                                        <li class="research">[논문] 김봉철, 지중해세계 최초의 역사서, 헤로도토스의 <역사> , 서양사론 , Vol.1 , No.1 , pp.319 -340 (Jun, 2011)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술논문지</li></br>
                                    <ol>
                                        <li class="research">[논문] 김봉철, 고대 그리스와 오리엔트의 국제적 의사소통: 통역의 활용 실태 , 서양고대사연구 , Vol.1 , pp.41 -86 (Apr, 2020)</li>
                                        <li class="research">[논문] 김봉철, 두 시공간을 잇는 작업, 헤로도토스 <역사>의 번역. , 서양고대사연구 , Vol.1 , No.1 , pp.177 -214 (Aug, 2018)</li>
                                        <li class="research">[논문] 김봉철, 헤로도토스의 <역사>에 나타난 다문화 인식 , 서양사론 , Vol.1 , No.1 , pp.133 -166 (Dec, 2017)</li>
                                        <li class="research">[논문] 김봉철, 헤로도토스의 역사서술과 그리스 신화 , 서양고대사연구 , Vol.1 , pp.35 -70 (Sep, 2012)</li>
                                        <li class="research">[논문] 김봉철, 지중해세계 최초의 역사서, 헤로도토스의 <역사> , 서양사론 , Vol.1 , No.1 , pp.319 -340 (Jun, 2011)</li>
                                        <li class="research">[논문] 김봉철, 헤로도토스와 그리스 신화서술 , 서양고대사연구 , Vol.1 , No.1 , pp.247 -279 (Dec, 2010)</li>
                                        <li class="research">[논문] 김봉철, Similar Acts of Alcibiades and Andocides after Returning from Exile , 서양고대사연구 , Vol.22 , No.1 , pp.93 -121 (Jun, 2008)</li>
                                        <li class="research">[논문] 김봉철, 디오뉘소스 신화와 디오뉘시아 제식의 연관성 , 서양사론 , Vol.92 , No.1 , pp.5 -39 (Mar, 2007)</li>
                                        <li class="research">[논문] 김봉철, 고대 그리스 문명의 '유럽성'에 대한 고찰 , 서양사론 , Vol.90 , No.1 , pp.5 -41 (Sep, 2006)</li>
                                        <li class="research">[논문] 김봉철, 고전기 아테네의 종교적 추방자에 관한 연구 , 역사학보 , Vol.185 , pp.209 -243 (Mar, 2005)</li>
                                        <li class="research">[논문] 김봉철, 고전기 아테네의 불경죄 재판: 그 실재 여부와 불경 사례 , 서양고전학연구 , Vol.20 , pp.169 -206 (Dec, 2003)</li>
                                        <li class="research">[논문] 김봉철, 고대 그리스문명과 인종의식 , 서양사론 , Vol.70 , pp.43 -65 (Sep, 2001)</li>
                                        <li class="research">[논문] 김봉철, 이소크라테스의 유럽 관념의 실상과 한계 , 서양고전학연구 , Vol.16 , No.1 , pp.37 -62 (Aug, 2001)</li>
                                        <li class="research">[논문] 김봉철, 고대 그리스에서의 유럽의 형성 과정에 관한 역사적 분석 , 역사학보 , Vol.170 , No.1 , pp.205 -233 (Jun, 2001)</li>
                                        <li class="research">[논문] 김봉철, 서양 고대사학의 새로운 역사해석? , 서양고전학연구 , Vol.13 , pp.363 -390 (Dec, 1999)</li>
                                        <li class="research">[논문] 김봉철, 한국역사학계의 회고와 전망:서양고대사 , 역사학보 , Vol.159 , pp.248 -265 (Sep, 1998)</li>
                                        <li class="research">[논문] 김봉철, 성백용, 고대 아테네의 사회변화와 고등교육의 역할 , 역사학보 , Vol.157 , No.157 , pp.193 -230 (Mar, 1998)</li>
                                        <li class="research">[논문] 김봉철, 고전기 그리스인의 민족정체성의 실제 , 서양사론 , Vol.55 , pp.1 -31 (Dec, 1997)</li>
                                        <li class="research">[논문] 김봉철, 고대 그리스인의 오리엔탈리즘 , 경기사학 , Vol.1 , pp.173 -205 (Feb, 1997)</li>
                                        <li class="research">[논문] 김봉철, 헤로토토스의 [역사]의 사료 비판 사례 , 서양고전학연구 , Vol.9 , pp.1 -53 (Dec, 1995)</li>
                                        <li class="research">[논문] 김봉철, 전 367/366년의 평화실패와 그리스인-페르시아인의 관계 , 서양사론 , pp.31 -93 (Jun, 1994)</li>
                                        </br>
                                    </ol>
                                <li class="paperindex middleindex">국내학술발표</li></br>
                                    <ol>
                                        <li class="research">[학술회의] 김봉철, 서양 역사고전 번역의 현황과 과제: 헤로도토스의 <역사>를 중심으로 , 한국서양고전학회 2016년 춘계 학술대회 , pp.1 -8 (Jun, 2016)</li>
                                        <li class="research">[학술회의] 김봉철, 헤로도토스의 역사서술과 그리스 신화 , 한국서양고전학회 하계 학술대회 (Jul, 2011)</li>
                                        <li class="research">[학술회의] 김봉철, 디오뉘소스 신화의 시대별 형성과정 , 한국서양사학회 183회 정기연구발표회 , Vol.1 , No.1 , pp.1 -12 (Dec, 2006)</li>
                                        <li class="research">[학술회의] 김봉철, 고대 그리스문명의 유럽성에 대한 고찰 , 11회 한국서양사학회 학술대회 , Vol.1 , No.1 , pp.33 -56 (Apr, 2006)</li>
                                        <li class="research">[학술회의] 김봉철, The Return of Religious Exiles in Classical Athens , 제7회 한일 서양고대사 국제심포지움 , Vol.7 , No.1 , pp.64 -74 (Oct, 2003)</li>
                                        <li class="research">[학술회의] 김봉철, 고대 그리스에서의 유럽이념의 태동? , 2000년도 한국서양고전학회 학술대회 , Vol.2000 , No.1 , pp.6 -23 (Dec, 2000)</li>
                                        <li class="research">[학술회의] 김봉철, 고대 아테네의 사회변화와 고등교육의 역할 , 역사학회 월례연구발표회 초록 , Vol.344회 , pp.1 -10 (Nov, 1997)</li>
                                        <li class="research">[학술회의] 김봉철, 고대 그리스인의 민족 정체성 , 서양사학회 월례발표회 초록 , Vol.134회 , pp.1 -15 (Apr, 1997)</li>
                                        </br>
                                    </ol>
                                    <li class="paperindex middleindex">저서 및 번역</li></br>
                                        <ol>
                                            <li class="research">[저서] 김봉철, Herodotos, Historiai (Nov, 2016)</li>
                                            <li class="research">[저서] 김봉철, 박구병, 강창부, 김대륜, 김덕수, 김원중, 남종국, 민유기, 박용진, 박원용, 박윤덕, 박흥식, 성백용, 송충기, 신명훈, 양희영, 이경일, 이용우, 이용재, 임승휘, 장문석, 정기문, 최재인, 황대현, 서양사강좌 , pp.359-381 (Feb, 2016)</li>
                                            <li class="research">[저서] 김봉철, 그리스 신화의 변천사 , pp.1~762 (May, 2014)</li>
                                            <li class="research">[저서] 김봉철, 박구병, 구범진, 김응종, 김현영, 박준성, 박훈, 방현석, 손세호, 송찬섭, 이성숙, 이정호, 이주영, 이혜령, 임기환, 인문학자들이 뽑은 세계사 인물 오디세이 , pp.96-117 (Jun, 2010)</li>
                                            <li class="research">[저서] 최갑수, 김봉철, 박구병, 강성호, 강철구, 김봉중, 김원수, 김차규, 김택현, 송경근, 유재건, 유럽중심주의 세계사를 넘어 세계사들로 (Mar, 2009)</li>
                                            <li class="research">[저서] 이혜령 외 15인, 김봉철, 인물로 본 문화 (Jul, 2005)</li>
                                            <li class="research">[저서] 김봉철, 전환기 그리스의 지식인, 이소크라테스 (Feb, 2004)</li>
                                            <li class="research">[저서] 김봉철, 영원한 문화도시 아테네 (Aug, 2002)</li>
                                            <li class="research">[저서] 김봉철, 그리스 민주정의 탄생과 발전 (Feb, 2001)</li>
                                        </ol>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>