<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/sise/professorIntroSize.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/professorIntro.css">

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        
        <div class="content">

            <div class="layout layout1">
                <div class="home"></div>

                <div class="home2">
                    <i class="bi bi-house"></i>
                    <p> > </p>
                    <p>교수 소개</p>
                    <p> > </p>
                    <p> 전임교수 </p>
                </div>
            </div>

            <div class="layout layout2">
                <aside>
                    <div class="subnav subnav1"></div>
                    <div class="subnav subnav2">
                        <div class="sidenav">
                            <div class="asidenav1"><p>전임교수</p></div>

                            <div class="asidenav2">
                                <ul>
                                    <a href="#"><li class="now"><p class="now" style="color:white;">전임교수</p></li></a>
                                    <a href="#"><li><p>명예교수</p></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="content-mini">
                    <div class="hello1"><p>전임교수</p></div>
                    <div class="hello2">

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/professorKim.gif">
                            </div>

                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>김종식</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro1"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 2847</li>
                                        <li>이메일: kmaru@ajou.ac.kr</li>
                                        <li>연구실: 다산관 206-1</li>
                                    </ul>
                                </div>
                                <div class="explain explain3">
                                    <ul>
                                        <li>2022.03 동경대학교 박사</li>
                                        <li>인문대, 국제학부 소속</li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/professorPark.gif">
                            </div>
                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>박구병</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro2"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 2836</li>
                                        <li>이메일: kbpark@ajou.ac.kr</li>
                                        <li>연구실: 다산관 220</li>
                                    </ul>
                                </div>
                                <div class="explain explain3">
                                    <ul>
                                        <li class="className">19-20세기 라틴아메리카 역사</li>
                                        <li class="className">미국과 라틴아메리카의 관계</li>
                                        <li class="className">미국 내 라티노의 역사</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/processor03.gif">
                            </div>
                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>이상국</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro3"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 3240</li>
                                        <li>이메일: okllsskh@ajou.ac.kr</li>
                                        <li>연구실: 다산관 415</li>
                                    </ul>
                                </div>
                               <div class="explain explain3">
                                    <ul>
                                        <li class="className">한국중세사회경제사</li>
                                        <li class="className">가족사</li>
                                        <li class="className">역사인구학</li>
                                        <li class="className">디지털역사학</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/processor.gif">
                            </div>
                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>한상준</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro4"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 2852</li>
                                        <li>이메일: hansj@ajou.ac.kr</li>
                                        <li>연구실: 다산관 531</li>
                                    </ul>
                                </div>
                               <div class="explain explain3">
                                    <ul>
                                        <li class="className">중국근현대외교사</li>
                                        <li class="className">중북관계</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/processor04.jpeg">
                            </div>
                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>한상우</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro5"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 2850</li>
                                        <li>이메일: hansw@ajou.ac.kr</li>
                                        <li>연구실: 다산관 215-3</li>
                                    </ul>
                                </div>
                               <div class="explain explain3">
                                    <ul>
                                        <li class="className">한국근세사</li>
                                        <li class="className">조선후기 사회사</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="faceImg">
                                <img src="../static/img/processor05.gif">
                            </div>
                            <div class="professorExplain">
                                <div class="explain explain1">
                                    <div class="contents">
                                        <h2>김서현</h2>
                                        <div class="rightBar"></div>
                                        <p>교수</p>
                                    </div>
                                    <a href="./pro6"><i class="bi bi-plus-square-fill"></i></a>
                                </div>
                                <div class="explain explain2">
                                    <ul>
                                        <li>연구실 번호: 2851</li>
                                        <li>이메일: agatha@ajou.ac.kr</li>
                                        <li>연구실: 다산관 409</li>
                                    </ul>
                                </div>
                               <div class="explain explain3">
                                    <ul>
                                        <li class="className">유럽 근대사</li>
                                        <li class="className">과학사</li>
                                        <li class="className">환경사</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs')%>
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>