:root {
    --main-bg-color: rgba(0, 71, 171);
    --sub-cp-color: #1E96FF;
    --sub-bg-color: rgba(245,245,245);
    --font-color: rgb(255, 196, 54);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration-line: none;
}
/*
.content{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}*/
.content .layout1{
    border-bottom: 1px solid var(--main-bg-color);
    width: 100%;
    height: 45px;
    display: flex;
}
.content .layout1 .home{
    width: 25%;
    height: 100%;
    /* border: 3px solid green; */
}
.content .layout1 .home2{
    width: 15%;
    height: 100%;
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.bi-house{
    font-size: 20px;
}
.content .layout2{
    /* border: 1px solid blue; */
    height: 95%;
    display: flex;
}
.content .layout2 aside{
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    display: flex;
    padding-top: 50px; /*############################*/
}
aside .subnav1{
    width: 40%;
    /* border: 1px solid red; */
}
aside .subnav2{
    width: 60%;
    /* border: 3px solid red; */
}
aside .subnav2 .sidenav{
    width: 100%;
    height: 350px;
    /* border: 1px solid blue; */
}
.subnav2 .sidenav .asidenav1{
    width: 100%;
    /* height: 15%; */
    height: 52.5px;
}
.subnav2 .sidenav .asidenav2{
    width: 100%;
    /* height: 85%; */
    height: 297.5px;
    /* border: 2px solid black; */
}
.sidenav .asidenav1 p{
    font-size: 30px;
    font-weight: 700;
}
.sidenav .asidenav2 ul{
    width: 100%;
    height: 100%;
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
}
.sidenav .asidenav2 ul a{
    width: 100%;
    /* height: 100%; */
    height: 59.5px;
}
.sidenav .asidenav2 ul a li{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--main-bg-color);
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.sidenav .asidenav2 ul a li p{
    font-size: 18px;
    color: black;
}
.now{
    font-weight: 700;
    background-color: var(--main-bg-color);
}