:root {
    --main-bg-color: rgba(0, 71, 171);
    --sub-cp-color: #1E96FF;
    --sub-bg-color: rgba(245,245,245);
    --font-color: rgb(255, 196, 54);
  }
header{
    width: 100%;
    height: 110px;
    position: sticky;
    top: 0;
    /* border: 5px solid green; */
}
.headerlayer{
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2px solid red; */
}
/* left-header */
header .left-header{
    width: 70%;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    /* border: 2px solid red; */

}
.left-header .ajou-logo{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.ajou-logo #pic{
    width: 30%;
    height: 85%;
}
.ajou-logo .ajouuniv{
    padding-left: 10px;
}
.ajouuniv > p{
    color: white;
}
.left-header .navUl{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 5px solid orange; */
}

.left-header > ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    /* border: 2px solid pink; */
}
.left-header a{
    text-decoration-line: none;
    color: rgba(255,255,255);
    /* background-color: pink; */
}
/* right-header */
header .right-header{
    width: 30%;
    height: 100%;
    background-color: rgba(255,255,255);
    /* border: 2px solid red; */
}
.right-header ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-header > ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}
.right-header ul li a{
    text-decoration-line: none;
    color: var(--main-bg-color);
}

.hoverNav{
    width: 70%;
    height: 250px;
    background-color: var(--main-bg-color);
    opacity: 0.8;
    /* display: flex; */
    display: none;
    /* border: 5px solid yellow; */
}
.hoverNav .hoverNavFlex{
    /* width: 70%; */
    height: 100%;
    /* border: 4px solid red; */
    display: flex;
}
.hoverNav .blankDiv{
    width: 30%;
    height: 100%;
    /* border: 2px solid white; */
}
.hoverNav .hoverList{
    width: 70%;
    height: 100%;
    /* padding: 0 55px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* border: 2px solid white; */
}
.hoverList .hideUl{
    width: 96%;
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    /* border: 5px solid pink; */
    padding-left: 40px;
    padding-top: 20px;
}
.hoverList .hideUl .hideList{
    list-style: none;
    font-size: 17px;
    font-weight: 400;
    /* border: 2px solid orange; */
    width: 15%;
}

.miniHideList{
    list-style: none;
    padding-left: 10px;
    /* border: 1px solid red; */
}
.hideList5, .hideList6{
    margin-left: 10px;
    /* background-color: pink; */
    padding-left: 20px;
}
.hideList3{
    margin-right: 10px;
}

.hideList ul{
    /* border: 2px solid pink; */
    line-height: 40px;
}
.hideList ul .miniHideList{
    /* border: 4px solid red; */
}
.hideList ul .miniHideList a{
    color: white;
}
.hideList ul .miniHideList a:hover{
    font-weight: 700;
    color: var(--font-color);
}