:root {
    --main-bg-color: rgba(0, 71, 171);
    --sub-cp-color: #1E96FF;
    --sub-bg-color: rgba(245,245,245);
    --font-color: rgb(255, 196, 54);
  }

.content .layout2 .content-mini{
    width: 75%;
    height: 100%;
    /* border: 3px solid purple; */
    padding-top: 50px;
    padding-left: 50px;
}
.content-mini .hello1{
    padding-top: 12px;
    width: 100%;
    height: 4%;
    /* border: 2px solid black; */
}
.content-mini .hello1 p{
    width: 190px; /*고쳐야할 부분*/
    padding-bottom: 7px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 4px solid var(--main-bg-color)
}
.content-mini .hello2{
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid var(--main-bg-color); */
    /* padding: 20px; */
    list-style: inside;
}
.content-mini .hello2 p{
    margin: 20px 0;
    font-size: 17px;
    line-height: 30px;
}

.headline{
    display: inline-block;
    width: 155px;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--main-bg-color);
    padding-bottom: 5px;
    font-size: 28px;
    /* border: 3px solid red; */
    
}
.kjspaper{
    width: 90%;
    padding-left: 40px;
    /* border: 3px solid red; */
}
.kjspaper .ulStyle{
    /* border: 2px solid red; */
    /* padding: 10px 0; */
    line-height: 37px;
}

.paperindex{
    font-weight: 600;
}

.kjspaper .title{
    font-size: 23px;
    list-style: none;
    /* border: 1px solid red; */
}

.bagstrap{
    width: 120px;
    border-bottom: 4px solid var(--main-bg-color);
    margin: 10px;
    padding-bottom: 5px;
}

.graduateschool{
    padding-left: 10px;
}

.middleindex{
    /* border-top: 1px solid #ddd; */
    padding-top: 20px;
    /* border: 3px solid red; */
}

.bagstrapmember{
    font-weight: 600;
}

.topindex{
    /* border-top: 1px solid #ddd; */
    padding-top: 20px;
}

ul{
    /* border: 2px solid green; */
}

.scholarTitle{
    /* border: 2px solid green; */
    padding-bottom: 22px;
}
.topindexTitle{
    /* border: 2px solid green; */
    padding-bottom: 3px;
}

.underbar{
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.content-mini .hello2 .intro{
    background-color: var(--sub-bg-color);
    width: 95%;
    height: 240px;
    /* border: 5px solid var(--main-bg-color); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    /* border-top: 1px solid #bbb; */
    margin-bottom: 60px;
}
.content-mini .hello2 .intro .faceImg{
    width: 16%;
    height: 80%;
    /* border: 1px solid red; */
}
.content-mini .hello2 .intro .faceImg img{
    width: 100%;
    height: 100%;
}
.content-mini .hello2 .intro .professorExplain{
    width: 75%;
    height: 85%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.professorExplain .explain{
    display: flex;
    padding-left: 10px;
    /* border: 1px solid black; */
    padding-right: 20px;
}

.professorExplain .explain2 {
    width: 100%;
    height: 70%;
    /* border: 1px solid blue; */
}

.professorExplain .explain3{
    height: 30%;
}

.professorExplain .explain2 ul{
    width: 100%;
    height: 90%;
    padding-left: 30px;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.professorExplain .explain2 li{
    width: 100%;
    height: 35%;
    color: gray;
    display:flex;
    align-items: center;
}
.professorExplain .explain3 ul{
    padding-left: 10px;
    /* border: 1px solid purple; */
    margin-top: 5px;
}

.professorExplain .explain3 ul li::marker{
    color: var(--main-bg-color);
}
.professorExplain .explain2 p{
    /* border: 1px solid red; */
    width: 100px;
    color: var(--main-bg-color);
    padding-right: 10px;
}
.professorExplain .explain2 span{
    padding-left: 15px;
}