.container{
    width: 100vw;
    height: 1200px; /*.content의 height보다 400px 더 크다!!*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    width: 100%;
    height: 800px; /*너가 고치기 */
    display: flex;
    flex-direction: column;
}