.container{
    width: 100vw;
    height: 2800px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
}
.content{
    width: 100%;
    /* height: calc(100vh - 400px); */
    height: 2800px;
    display: flex;
    flex-direction: column;
}